@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

//body {
//  background-color: #303030;
//  margin: 4px 4px 0 4px;
//  padding: 0;
//  color: #FFFFFF;
//}
//
//mat-icon{
//  color: white;
//}

.mat_card_box{
  margin-bottom: 10px;
}

.card-header{
  border-bottom: 1px #000000 solid;
}

.card-title{
  font-weight: bold;
  font-size: 20px !important;
}
