.router_clear{
  clear:both;
}

.body_style_box{
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.body_box{
  width: 70%;
  min-width: 1150px;
}
