.movieTable{
  width: 100%;
  text-align: center;
}

.movieTitle{
  width: 20%;
  text-align: left;
}

.movieImgBox{
  width: 20%;
  text-align: left;
  vertical-align: top;
}

.movieImg{
  max-width: 200px;
}

.movieElem{
  width: 13%;
  text-align: left;
  vertical-align: top;
}

.movieTypesBlock{
  height: 100px;
}

.movieType{
  width: 33%;

  border-top:1pt solid black;
}

.movieHour{
  width: 33%;

  border-top:1pt solid black;
}

.movieButton{
  margin-left: 5px;
}
