<mat-card class="mat_card_box">
  <mat-card-content style="">
    <div class="repertory">
      REPERTUAR
    </div>
    <div class="repertoryInformation">
      Czwartek 9.05
    </div>
    <div class="repertoryInformation">
      Cinema Elit - Galeria Wroclavia
    </div>
    <div class="ticketsCost">
      <button mat-raised-button class="buttonDark">Cennik biletów</button>
    </div>
    <div class="ticketsCost" style="float: right;">
      <button mat-stroked-button class="dayButton checkedButton">DZIŚ</button>
      <button mat-stroked-button class="dayButton">PT</button>
      <button mat-stroked-button class="dayButton">SB</button>
      <button mat-stroked-button class="dayButton">ND</button>
      <button mat-stroked-button class="dayButton">PN</button>
      <button mat-stroked-button class="dayButton">WT</button>
      <button mat-stroked-button class="dayButton">ŚR</button>
      <button mat-stroked-button class="dayButton"><mat-icon>apps</mat-icon></button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let movie of currentMovies" class="mat_card_box">
  <mat-card-content>
    <div class="movieTitle">
      <h2>{{movie.title}}</h2>
    </div>
    <div class="movieCatBox">
      <div class="movieImgBox">
        <p><img class="movieImg" [src]="movie.image" alt="{{movie.title}}"/></p>
      </div>
      <div class="movieInformationBox">
        <!--<p>{{movie.title}}</p>-->
        <p>{{movie.genre}}</p>
        <p>{{movie.duration}} min</p>
        <b>Opis filmu</b><br/>
        {{movie.description}}
      </div>
    </div>
    <div class="movieCatBox2">
      <table class="tableMovieType">
        <tr *ngFor="let movieType of movie.movieTypes" class="movieTypesBlock">
          <td class="movieType">
            {{movieType.name}}
          </td>
          <td class="movieHour">
            <a *ngFor="let hour of movieType.movieHours" mat-raised-button color="primary" class="movieButton"
               href="#">{{hour.hour}}</a>
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>

