.movieTable{
  width: 100%;
  text-align: center;
}

.movieImg{
  max-width: 200px;
}

.movieTitle{
  width: 20%;
  text-align: left;
}

.movieElem{
  width: 13%;
  text-align: left;
  vertical-align: top;
}

.movieType{
  width: 33%;
}

.movieHour{
  width: 33%;
}
