.repertory{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-right: 15px;
}

.repertoryInformation{
  display: inline-block;
  font-size: 12px;
  padding-right: 3px;
  border-right: gray 1pt dotted;
  margin-right: 6px;
}

.ticketsCost{
  display: inline-block;
}

.buttonDark{
  background-color: #74574F;
  color: white;
  height: 25px;
  line-height: 25px;
}

.movieTable{
  width: 100%;
  text-align: center;
}

.movieTitle{
  width: 20%;
  text-align: left;
}

.movieImgBox{
  width: 20%;
  text-align: left;
  vertical-align: top;
}

.movieImg{
  max-width: 200px;
}

.movieElem{
  width: 13%;
  text-align: left;
  vertical-align: top;
}

.movieTypesBlock{
  height: 100px;
}

.movieType{
  width: 33%;

  border-top:1pt solid black;
}

.movieHour{
  width: 33%;

  border-top:1pt solid black;
}

.movieButton{
  margin-left: 5px;
}
