.header{
  background: #74574F;
  width: 100%;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  float: left;
  text-align: center;
}

.header-list{
  //float: right;
  padding: 0;
  margin: 0 5px;
 // background-color:  #74574F;
  font-family:  "Georgia";
  font-size: large;
}

.button-header {
  float: right;
  margin: 0 5px;
}
img { display: block;
  margin-left: auto;
  margin-right: auto }



