<div>
  <img class="img-responsive main-logo" alt="Logo" src="/assets/img/Logo.png">
  <!--<p class="header-list">Book Tickets</p>-->
</div>

<div class="header">
  <button mat-button [matMenuTriggerFor]="menu">Oferty</button>
  <!--<button mat-icon-button  [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>-->
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Dla Niej</button>
    <button mat-menu-item> Pakiet Rodzinny</button>
    <button mat-menu-item>Karta podarunkowa</button>
    <button mat-menu-item> Tani Wtorek</button>
    <button mat-menu-item>Unlimited</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu2">Repertuar</button>
  <mat-menu #menu2="matMenu"></mat-menu>
  <button mat-button [matMenuTriggerFor]="menu3">Prezenty</button>
  <mat-menu #menu3="matMenu"></mat-menu>
  <button mat-button [matMenuTriggerFor]="menu3">Nasze kina</button>
  <mat-menu #menu3="matMenu">
    <button mat-menu-item>Gdynia</button>
    <button mat-menu-item>Gdańsk</button>
    <button mat-menu-item>Wrocław</button>
    <button mat-menu-item>Warszawa</button>
  </mat-menu>


</div>
