<div>
  <img class="img-responsive main-logo" alt="Logo" src="/assets/img/Logo.png">
  <!--<p class="header-list">Book Tickets</p>-->
</div>

<div class="header">
  <button mat-button [matMenuTriggerFor]="menu">Repertuar</button>
  <mat-menu #menu="matMenu"></mat-menu>

  <button mat-button [matMenuTriggerFor]="menu_kina">Nasze kina</button>
  <mat-menu #menu_kina="matMenu">
    <button mat-menu-item>Gdynia</button>
    <button mat-menu-item>Gdańsk</button>
    <button mat-menu-item>Wrocław</button>
    <button mat-menu-item>Warszawa</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu_offer">Oferty</button>
  <mat-menu #menu_offer="matMenu">
    <button mat-menu-item>Dla Niej</button>
    <button mat-menu-item> Pakiet Rodzinny</button>
    <button mat-menu-item>Karta podarunkowa</button>
    <button mat-menu-item> Tani Wtorek</button>
    <button mat-menu-item>Unlimited</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu_present">Prezenty</button>
  <mat-menu #menu_present="matMenu"></mat-menu>



</div>
